
.calendar {
    position: relative;
}

.calendar__table {
    width: 90%;
    margin:auto;
    text-align: left;
    height: calc(100vh - 128px);   
}

.calendar__table td {
    padding: 10px;
    border: 0.1px solid rgb(193, 200, 202);
    
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}

.calendar__table-6-weeks td {
    height: 16.6%;
}

.calendar__weekday {
    font-weight: bold;
    color:rgb(218, 186, 119);
    font-size: 0.9em;
}

.calendar__othermonth{
    color:rgb(223, 213, 213);
}

.button_plus {
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    line-height: 40px;
    
 
    text-align:center;
    color:rgb(209, 202, 188);
    font-size: 45px;
    color:rgb(218, 186, 119);
    border: 1px solid rgb(218, 186, 119);

    /* border-radius: 50%; */

    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: transform 0.7s;
    
}

.button_plus:hover {
    color: rgb(221, 126, 70);
    
    
}

